<html>
    <head>
        <title>(DEV) Michael Francis Vertuli</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
        <script src="https://kit.fontawesome.com/647d8dbbf2.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <h1>Michael Francis Vertuli</h1>
	    <img alt="Michael Francis Vertuli" src="{{ url_for('static', filename='headshot.jpeg') }}" id="headshot"/>
            <p><i class="fas fa-envelope"></i> <a href="mailto:michael@vertuli.com">michael@vertuli.com</a></p>
            <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/vertuli/">LinkedIn</a></p>
	    <p><i class="fab fa-github"></i> <a href="https://github.com/vertuli/">GitHub</a></p>
	    <p><i class="far fa-file"></i> Resume (<a href="https://raw.githubusercontent.com/vertuli/resume/master/resume.json">JSON</a>, <a href="https://htmlpreview.github.io/?https://github.com/vertuli/resume/master/resume.html">HTML</a>, <a href="https://github.com/vertuli/resume/raw/master/resume.pdf">PDF</a>)</p>
        </div>
	<div>
		<h2>About</h2>
		<p>After growing up in a small rural Pennsylvania town, I earned a physics degree as a first-generation college student and briefly studied toward a Ph.D. before leaving for a seven year adventure in Shanghai, China. There, I taught physics before founding a company and leading a team that advised students aiming to study in the U.S. After returning, I briefly taught math in Washington, DC before pursuing a full-time career in software engineering in Los Angeles, CA where I've since been working extensively with "big" data.</p>
	</div>
    </body>
</html>
