<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    {% load render_table from django_tables2 %}
    <title>Hello World!</title>
</head>
<body>
<div class="container h-100">
    <div class="row justify-content-center">
        <div class="col-10 border">
            {% if filter %}
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}
                {% bootstrap_button 'filter' %}
            </form>
            {% endif %}
            {% render_table table %}
        </div>
    </div>
</div>
</body>
</html>